## PS4 Game Rating Prediction

Given *data about PS4 games*, let's try to predict the **rating** of a given game.

We will use a variety of regression models to make our predictions. 

Data source: https://www.kaggle.com/datasets/ww1234/ps4-games

### Getting Started

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv('games_data.csv')
data

,Unnamed: 0,game,score,leaderbord,gamers,comp_perc,rating,url,min_comp_time,max_comp_time
0,0,A Boy and His Blob,638,2.02,2194,16.5,3.2,https://www.truetrophies.com/game/A-Boy-and-Hi...,15,20
1,1,A Hat in Time,1992,1.53,7062,35.9,4.2,https://www.truetrophies.com/game/A-Hat-in-Tim...,15,20
2,2,A Hero and a Garden,1364,1.01,503,97.6,5.0,https://www.truetrophies.com/game/A-Hero-and-a...,0,1
3,3,A Hero and a Garden (EU),1363,1.01,581,97.8,2.9,https://www.truetrophies.com/game/A-Hero-and-a...,0,1
4,4,A King's Tale: Final Fantasy XV,637,2.02,21914,14.1,3.3,https://www.truetrophies.com/game/A-Kings-Tale...,4,5
...,...,...,...,...,...,...,...,...,...,...
1579,1579,36 Fragments of Midnight,1367,1.06,8472,82.3,2.5,https://www.truetrophies.com/game/36-Fragments...,0,1
1580,1580,36 Fragments of Midnight (Asia),1335,1.03,2131,88.9,2.4,https://www.truetrophies.com/game/36-Fragments...,0,1
1581,1581,36 Fragments of Midnight (EU),1382,1.07,12273,79.2,2.4,https://www.truetrophies.com/game/36-Fragments...,0,1
1582,1582,428: Shibuya Scramble,1943,1.47,916,41.5,4.2,https://www.truetrophies.com/game/428-Shibuya-...,40,50
1583,1583,428: Shibuya Scramble (EU),1917,1.45,718,42.6,4.2,https://www.truetrophies.com/game/428-Shibuya-...,40,50

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584 entries, 0 to 1583
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1584 non-null   int64
 1   game           1584 non-null   object
 2   score          1584 non-null   int64
 3   leaderbord     1584 non-null   float64
 4   gamers         1584 non-null   int64
 5   comp_perc      1584 non-null   float64
 6   rating         1584 non-null   float64
 7   url            1584 non-null   object
 8   min_comp_time  1584 non-null   int64
 9   max_comp_time  1584 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 123.9+ KB

### Preprocessing

In [20]:
def preprocess_inputs(df):
    df = df.copy()

    # Drop unused columns
    df = df.drop(['Unnamed: 0', 'game', 'url'], axis=1)

    # Split df into X and y
    y = df['rating']
    X = df.drop('rating', axis=1)

    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

    # Scale X
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

    return X_train, X_test, y_train, y_test

In [21]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [22]:
X_train

         score  leaderbord    gamers  comp_perc  min_comp_time  max_comp_time
866  -0.444493   -0.782111 -0.478065   1.350900      -0.579943      -0.349371
1569  0.540038    0.532651  0.159943  -0.989571       0.462750       0.126358
943   0.002955   -0.220598 -0.342023  -0.220680      -0.162866      -0.153483
593   0.672321    0.382001  0.548047  -1.045900       0.810314       0.336238
1348  1.823110    0.902428  5.415034  -1.183906       1.157878       0.476158
...        ...         ...       ...        ...            ...            ...
715   0.939778    1.244814 -0.110192  -1.150108       0.636532       0.196318
905   0.591361    0.354610  1.991005  -1.378241       0.115185      -0.013563
1096 -0.985191    0.245047 -0.382605  -1.200805      -0.301891      -0.223443
235   0.019581   -0.124730  0.152840  -0.305173       0.115185      -0.013563
1061 -0.401122   -0.782111 -0.546700   1.353716      -0.579943      -0.349371

[1108 rows x 6 columns]

In [24]:
X_train.describe()

,score,leaderbord,gamers,comp_perc,min_comp_time,max_comp_time
count,1.108000e+03,1.108000e+03,1.108000e+03,1.108000e+03,1.108000e+03,1.108000e+03
mean,-7.695409e-17,-1.667339e-16,-3.206420e-17,-9.298619e-17,3.206420e-17,-4.809630e-18
std,1.000452e+00,1.000452e+00,1.000452e+00,1.000452e+00,1.000452e+00,1.000452e+00
min,-1.249756e+00,-7.958062e-01,-5.593180e-01,-1.386690e+00,-5.799426e-01,-3.493712e-01
25%,-4.302169e-01,-7.273290e-01,-5.278402e-01,-9.930913e-01,-5.799426e-01,-3.493712e-01
50%,-3.328119e-01,-3.849431e-01,-4.397008e-01,-1.023887e-01,-4.061606e-01,-2.794110e-01
75%,4.328748e-01,4.230876e-01,1.541214e-02,1.067143e+00,1.151855e-01,-1.356266e-02
max,6.192060e+00,7.613192e+00,6.788548e+00,1.415678e+00,6.371338e+00,9.431051e+00

### Training

In [25]:
models = {
    "                    Linear Regression": LinearRegression(),
    "Linear Regression (L2 Regularization)": Ridge(),
    "Linear Regression (L1 Regularization)": Lasso(),
    "                  K-Nearest Neighbors": KNeighborsRegressor(),
    "                       Neural Network": MLPRegressor(),
    "                        Decision Tree": DecisionTreeRegressor(),
    "                        Random Forest": RandomForestRegressor(),
    "                    Gradient Boosting": GradientBoostingRegressor(),
    "                              XGBoost": XGBRegressor(),
    "                             LightGBM": LGBMRegressor(),
    "                             CatBoost": CatBoostRegressor(verbose=0)
}

In [26]:
for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

                    Linear Regression trained.
Linear Regression (L2 Regularization) trained.
Linear Regression (L1 Regularization) trained.
                  K-Nearest Neighbors trained.
                       Neural Network trained.
                        Decision Tree trained.
                        Random Forest trained.
                    Gradient Boosting trained.
                              XGBoost trained.
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000409 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 968
[LightGBM] [Info] Number of data points in the train set: 1108, number of used features: 6
[LightGBM] [Info] Start training from score 3.087816
                             LightGBM trained.
                             CatBoost trained.

### Results

In [39]:
# RMSE Calculation
for name, model in models.items():
    y_pred = model.predict(X_test)
    rmse = np.sqrt(np.mean((y_test - y_pred)**2))
    print(name + " RMSE: {:.4f}".format(rmse))

                    Linear Regression RMSE: 0.6761
Linear Regression (L2 Regularization) RMSE: 0.6759
Linear Regression (L1 Regularization) RMSE: 0.9657
                  K-Nearest Neighbors RMSE: 0.6672
                       Neural Network RMSE: 0.6346
                        Decision Tree RMSE: 0.8269
                        Random Forest RMSE: 0.6262
                    Gradient Boosting RMSE: 0.6250
                              XGBoost RMSE: 0.6775
                             LightGBM RMSE: 0.6457
                             CatBoost RMSE: 0.6454

In [40]:
# R Squared Calculation
for name, model in models.items():
    y_pred = model.predict(X_test)
    r2 = 1 - np.sum((y_test - y_pred)**2) / np.sum((y_test - y_test.mean())**2)
    print(name + " R^2: {:.5f}".format(r2))

                    Linear Regression R^2: 0.50952
Linear Regression (L2 Regularization) R^2: 0.50971
Linear Regression (L1 Regularization) R^2: -0.00069
                  K-Nearest Neighbors R^2: 0.52226
                       Neural Network R^2: 0.56789
                        Decision Tree R^2: 0.26628
                        Random Forest R^2: 0.57922
                    Gradient Boosting R^2: 0.58082
                              XGBoost R^2: 0.50738
                             LightGBM R^2: 0.55260
                             CatBoost R^2: 0.55300

In [27]:
y_pred = model.predict(X_test)

y_pred

array([1.77875672, 3.26568723, 2.67256314, 3.68228096, 2.30975216,
       3.66893862, 2.67075812, 3.55132405, 3.60397413, 3.51815395,
       2.62644978, 4.28891891, 2.01399266, 2.11433647, 2.13124308,
       3.27235732, 3.76190423, 4.16685042, 2.28339549, 2.503985  ,
       4.15038152, 3.65169709, 3.27964046, 2.07814323, 3.38782096,
       2.84627584, 3.58829319, 2.92743615, 2.17521461, 3.16364641,
       3.32998075, 3.31140388, 1.61737246, 3.45149446, 3.38829417,
       3.87852305, 3.35838039, 3.6552449 , 4.19640563, 2.69904998,
       2.9329629 , 1.90171377, 3.75761984, 1.55295823, 2.89246373,
       2.02987864, 4.38240761, 2.82041462, 3.20422459, 3.24314073,
       1.61163425, 3.69229073, 3.78351342, 1.60629698, 3.81331547,
       4.35870836, 3.65357621, 3.70788248, 2.49159303, 2.57474375,
       3.637475  , 2.77071183, 2.40817996, 3.83455433, 1.96037906,
       3.94237536, 4.04643822, 3.02258552, 2.77597396, 1.35798279,
       3.24299814, 4.30719327, 3.94637755, 3.44212356, 2.13219615,
       3.35847112, 4.0006618 , 3.65642062, 2.75573771, 4.02446452,
       2.55814513, 1.78335071, 3.76549255, 2.78743203, 2.30567002,
       4.3108208 , 3.80338895, 3.97430116, 1.68557781, 4.03042836,
       3.67304913, 3.75979186, 2.59333316, 3.21072908, 4.00603602,
       3.59490165, 4.19861856, 2.12978856, 3.49357251, 2.20237349,
       2.06249266, 3.63925419, 1.90779652, 4.14341075, 3.9491874 ,
       3.93245823, 3.48183459, 1.76961342, 2.09199326, 3.1406154 ,
       3.01703484, 3.7000536 , 3.49917711, 3.86294781, 1.81675298,
       4.33207061, 4.18667741, 4.05766202, 2.49945589, 3.67228239,
       2.58454997, 4.34423124, 3.84972831, 1.50863455, 4.08844647,
       2.34095547, 3.87271084, 1.86251254, 3.08661073, 2.20451321,
       3.18866636, 0.56840394, 4.02620527, 3.44755114, 3.52927776,
       3.50176929, 2.27795476, 2.36343441, 3.24198648, 1.71003085,
       3.93992681, 2.28343289, 3.35635012, 3.79413448, 1.72922394,
       3.02927623, 1.842157  , 2.35128869, 2.37322357, 2.27930652,
       1.96794148, 3.54502294, 1.67962216, 1.96196955, 4.03862884,
       1.93217272, 2.32888446, 3.72147711, 3.77352132, 3.29091305,
       3.16808784, 3.27240224, 3.59698204, 3.69425697, 3.83927754,
       3.46607014, 2.1221967 , 3.46863461, 3.17847325, 3.24212694,
       3.18176648, 4.00186951, 1.81719023, 3.52616998, 3.12817258,
       3.62493325, 4.05631443, 4.22808775, 2.39813089, 3.53227789,
       3.22385665, 3.5862551 , 2.53529323, 4.00610255, 3.98944257,
       1.97917242, 3.16705347, 1.79591285, 4.01280226, 2.52661005,
       3.90860776, 4.05711586, 3.34107335, 2.59262811, 3.17185521,
       4.07637774, 3.07807892, 2.68643095, 3.29834367, 3.5531838 ,
       3.69543878, 1.82983705, 2.66406535, 3.46420468, 3.54057076,
       1.98925988, 4.08966945, 3.55383524, 2.14952113, 3.38420299,
       3.64139396, 2.58530205, 3.52840639, 2.52049258, 3.45484737,
       1.83357099, 2.65095122, 3.65780771, 3.22293192, 3.09891075,
       2.50596795, 3.57699259, 2.6787944 , 3.93718478, 2.32012553,
       2.69902847, 3.42892707, 3.33879354, 3.12913462, 2.46570973,
       3.29284145, 3.22865084, 4.05343342, 1.76405941, 2.53928871,
       2.45229061, 3.212089  , 2.20875692, 4.35901151, 2.64663372,
       2.33522372, 2.7730815 , 4.21403842, 3.43295395, 3.67350539,
       2.97814923, 4.51489489, 2.47326863, 2.27108286, 1.95771623,
       3.93628689, 2.23840648, 3.71652814, 2.28468964, 3.90408661,
       3.61884534, 3.3227303 , 3.32761302, 2.19149136, 3.27812786,
       2.53803602, 2.57285366, 2.33311167, 4.11648171, 1.57179669,
       4.10651663, 3.60039444, 3.82042467, 3.45628168, 3.73388148,
       3.62917951, 3.20679321, 3.96224941, 3.28787974, 2.05119756,
       3.67515789, 2.34741524, 3.54718693, 3.18352984, 3.55439751,
       2.19952298, 1.72340777, 2.71202022, 3.08479994, 4.129391  ,
       1.69624459, 2.32685349, 4.1860884 , 4.26623113, 1.72800803,
       3.44296026, 4.10399803, 3.88837799, 2.34911354, 3.8919763 ,
       3.74342133, 2.40691276, 2.04443538, 3.80730791, 3.62755199,
       2.47482795, 3.23229791, 2.36176093, 2.64265181, 4.21970143,
       2.95530255, 1.7822572 , 2.31123902, 3.79225312, 2.33235489,
       3.70866306, 4.09219573, 3.42316553, 3.18330518, 2.63170734,
       2.01112586, 3.63276206, 4.18218369, 4.07878499, 3.64028377,
       2.07608641, 2.51974213, 2.14111577, 2.88512026, 2.01233375,
       3.85493484, 3.78964153, 3.7012795 , 3.43894061, 3.96940011,
       2.77238799, 2.04116867, 3.27322802, 1.12961769, 3.80990671,
       2.88495623, 3.70971349, 2.05990048, 2.21506593, 2.56513519,
       4.09494154, 1.9720297 , 3.66754115, 2.00235858, 1.88957703,
       3.37165491, 2.57712722, 3.92483311, 3.24337095, 2.38783011,
       4.25136328, 2.3226015 , 3.8504582 , 2.12991346, 3.91717113,
       2.33728932, 2.36210154, 4.04094081, 3.70257505, 3.14302164,
       2.5817214 , 4.30124633, 2.1377242 , 4.09535993, 3.45529832,
       3.47641506, 2.15068374, 2.94382303, 2.06610947, 3.28043837,
       3.83447824, 2.77825504, 2.38197483, 3.61608716, 3.19533456,
       2.09681928, 4.34948127, 2.05251406, 2.07665913, 4.1950312 ,
       3.70935286, 3.31754394, 2.03742658, 3.24370392, 3.58788582,
       3.69310547, 3.62147433, 1.72763071, 2.04258948, 3.67424922,
       4.08742336, 4.00433363, 3.15790065, 3.77750843, 3.34826193,
       4.13318138, 3.61712265, 3.90369534, 2.74832329, 3.62403368,
       3.1344203 , 2.23678146, 3.4086952 , 3.39804953, 4.09489065,
       2.39710412, 3.8134788 , 3.47516428, 3.93454515, 3.04186558,
       3.55643969, 2.36521222, 3.43864149, 1.5411407 , 1.84554085,
       3.90197415, 3.83601234, 2.39367495, 2.4423375 , 1.9528424 ,
       3.88374499, 3.80232095, 2.66023738, 1.27029563, 3.0442525 ,
       4.10996113, 2.74421371, 2.79983779, 3.11648284, 2.02259256,
       3.55970452, 3.56599157, 2.37359203, 3.79623194, 2.0209516 ,
       3.01162984, 2.32340009, 3.15703293, 1.89596281, 1.40911337,
       3.33668169, 4.10793392, 2.62729297, 3.8397393 , 3.56948847,
       2.02859437, 1.14512015, 3.77458598, 3.39531308, 3.43756347,
       3.80118284, 3.3121561 , 4.15263455, 2.72014843, 2.47757514,
       3.33992022, 3.38564632, 2.79034593, 3.96452251, 3.39279653,
       3.73610259, 3.63508894, 3.91748283, 1.75492243, 3.63194559,
       2.44743584, 2.41422745, 1.78359565, 1.89339722, 3.63113857,
       3.59557357, 3.62703086, 3.96591976, 3.45456457, 3.5003593 ,
       3.75523123])

In [29]:
np.sqrt(np.mean((y_test - y_pred)**2))

0.6454163787782786

In [31]:
np.sum((y_test - y_test.mean())**2)

443.5866176470588

In [36]:
r2 = 1 - np.sum((y_test - y_pred)**2) / np.sum((y_test - y_test.mean())**2)

In [37]:
r2

0.5529990133572698

In [38]:
model.score(X_test, y_test)

0.5529990133572698